.dropdown-head {
  position: sticky;
  display: inline-block;
  padding: 0;
  top: 6%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg1);
  margin: 0;
  z-index: 1;
  overflow: auto;
  height: 20vh;
  width: 75%;
}

.dropdown-head:hover .dropdown-content, .dropdown-head:focus .dropdown-content {
  display: block;
}

div.dropdown-head ul li a, div.dropdown-head a {
  text-decoration: none;
  color: var(--txt1);
}

div.dropdown-head ul li a:hover {
  color: var(--ac1);
}

.dropdown-content li {
  list-style-type: none;
}
