html { scroll-behavior: smooth; }
body { 
    margin: 0; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    color: var(--txt1);
    background-color: var(--bg2);
}

.state-code { font-size: xx-large; }

.state { margin: 2px; }
.state span a { text-decoration: none; color: var(--txt1); }
.state span a:hover { color: var(--ac1); }

#view { margin: 10px; }