ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bg1);
  position: sticky;
  top: 0;
  padding: 5px;
  padding-left: 15px;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

ul.nav li a:hover {
  background-color: #111;
}

div.bar {
    background: var(--ac1);
    height: 1px;
    top: 4.4%;
    position: sticky;
}